body {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative;
    width: 70%;
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 600px;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

h2 {
    color: black;
    margin: 0 0 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}
  
label {
    color: black;
    font-weight: bold;
    margin-bottom: 1px;
}

.draggable {
    cursor: grab;
}
  
.draggable:active {
    cursor: grabbing;
}

.btn-save {
    background-color: #0c419a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.btn-save:hover {
    background-color: #175ACD;
}